<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Flask-DataTables</title>
    <meta name="description" content="This is a Flask (Python microframework) use Datatables.js Ajax source application.">
    <meta name="author" content="rosickey">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	
	<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
</head>

<script>
	$(document).ready(function() {

		$.ajax({
			url: "{{ url_for('api.scenice', Location='121.2977,24.9433', Distance='0.06') | safe}}",
			type: 'get',
			success: function (response) {
				console.log(response)

				var options = '';
				var res = response.data;
				for (i = 0; i < res.length; i++) {
					options+= '<option value="' + res[i].Name + '" >';
				  }
				  document.getElementById('SciList').innerHTML = options;
			},
			error: function (error) {
				console.log('error')
			}

		});

		$('#example').dataTable( {
			"select": true,
			"Dom": "<'row-fluid'<'span6 toolbar'><'span6'>r>t<'row-fluid'<'span6'f><'span6'p>>",
			"Processing": true,
			"jQueryUI": true,
			"ajax": {
				"url": "{{ url_for('api.scenice', Location='121.2977,24.9433', Distance='0.06') | safe}}",
				"data": function ( d ) {
					d.extra_search = $('#extra').val();
				}
			},
			"columns":[
				{"data":"Id"},
				{"data":"Name"},
				{"data":"Description"},
				{"data":"Tel"}
			]
		});
		$("#listinput").on("click", function () {
			console.log('click')

		});
	} );
</script>

<body>
	<div class="container" style="width:50%; height:auto; float:left; display:inline">
		選擇城市: <input type="text" id="listinput" list="SciList" /><br />
		<datalist id="SciList">
		</datalist>
	</div>
	<div  style="width:50%; height:auto; float:left; display:inline" class="container">
	<table class='table' id='example'>
		<thead>
			<tr>
				{% for col in columns %}
				<th>{{ col }}</th>
				{% endfor %}
			</tr>
		</thead>
	</table>
	</div>
</body>

<footer class="footer">
	<div class="container">
    <ul class="footer-links">
        <li><a href='https://github.com/imwilsonxu/flask-datatables'>About</a></li>
	</ul>
	</div>
</footer>

</html>