{% extends "base.html" %}
{% block content_test %}

    
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
   
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/defaults-zh_TW.min.js') }}"></script>

    <div class="container-fluid">
        <form class="form-horizontal" role="form" method="get" action="/site/scenice">
            <div class="form-group form-inline">
                <label for="SightsName" class="col-sm-1 control-label">SightsName:</label>
                <input type="text" id="SightsName" class="col-sm-1 form-control">
                <label for="Keyword" class="col-sm-1 control-label">Keyword:</label>
                <input type="text" id="Keyword" class="col-sm-1 form-control">
                <label for="Location" class="col-sm-1 control-label">Location:</label>
                <input type="text" id="Location" class="col-sm-1 form-control">
                <label for="Distance" class="col-sm-1 control-label">Distance:</label>
                <input type="text" id="Distance" class="col-sm-1 form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container">
        <form>
            <div class="form-group form-inline">
                <select multiple class="custom-select" id=theList size=5>
                    <option value=星期一>Monday</option>
                    <option value=星期三>Wednesday</option>
                    <option value=星期五>Friday</option>
                    <option value=星期日>Sunday</option>
                </select>
                <p>
                <!-- <select id="bs" class="mdb-select md-form selectpicker" searchable="Search here.."> -->
                <select class="selectpicker" multiple data-live-search="true" data-style="btn-info">
                    <!-- <option value="" disabled selected>Choose your car</option> -->
                    <!-- <option value="2" data-secondary-text="Production year: 2012">Volkswagen Passat</option>
                    <option value="3" data-secondary-text="Production year: 2017">Subaru Legacy</option>
                    <option value="3" data-secondary-text="Production year: 2015">Hyundai Elantra</option> -->
                    <option value="1">Mustard</option>
                    <option value="2">Ketchup</option>
                    <option value="3">Barbecue</option>
                </select>
                <p>
                <input type="button" value="刪除反白選項" onclick=""><br>
                <input type="button" value="增加右列選項" onclick="">
                <!-- Text: <input id=theText value="test">
                Value: <input id=theValue value="test"> -->
            </div>
        </form>
    </div>
    <br>
    <div id="deck">
        {% include "deck.html" %}
    </div>
    <script>
        $('.selectpicker').selectpicker();
    </script>
{% endblock %}