<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/ico" href="/static/images/favicon.ico">
    <title>404 Not Found!</title>
    <meta data-react-helmet="true" charset="utf-8">
    <link href="/static/css/app.css" rel="stylesheet">
    </head>

    <body>
        <div id="root">
            <div class="_14BrxaV">
                <header class="_3KR0JuQ VBD7Ow3">
                    
                </header>
                <div class="_1vdzHPH">
                    <div class="_2ljG6Id _2rbE6TC _2v5bHvx">
                        <div class="QLrkCRc sDHKtsB"></div>
                        <div class="_1kSe2Rz pRZSkbx"><svg class="_1LWHAKB" preserveAspectRatio="xMidYMid" viewBox="0 0 320 110"><text vector-effect="non-scaling-stroke" shape-rendering="crispEdges" class="_2-igzDs _31coI1f" x="0" y="90">404</text></svg>
                            <h3>You're in the wrong place</h3>
                        </div>
                    </div>
                </div>
                <div class="_3reSXV1 _4zWqqYK sDHKtsB">Loading: 100%</div>
            </div>
        </div>
    </body>
</html>