<html>

<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="bVjz_e1QxwvQCgmZoHsZ8kUWfo2AWZOuRdJKu48Mlv0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/ico" href="{{url_for('static', filename='images/favicon.ico')}}">
    <title>Gyms in London - Gymbox - London's Best Equipped Gym</title>
    <meta data-react-helmet="true" charset="utf-8">
    <meta data-react-helmet="true" name="description"
        content="Making sweating enjoyable drives everything Gymbox does. From our unique exercise classes and nightly resident DJs, through to our larger than life personal trainers, at Gymbox there is undeniably a culture of fun.">
    <meta data-react-helmet="true" property="og:title"
        content="Gymbox - London Gyms in Bank, Holborn, Covent Garden, Farringdon, Westfield and Old Street">
    <meta data-react-helmet="true" property="og:type" content="article">
    <meta data-react-helmet="true" property="og:url" content="https://www.gymbox.com">
    <meta data-react-helmet="true" property="og:image" content="https://staging.gymbox.com/static/images/share.png">
    <meta data-react-helmet="true" property="og:description"
        content="Making sweating enjoyable drives everything Gymbox does. From our unique exercise classes and nightly resident DJs, through to our larger than life personal trainers, at Gymbox there is undeniably a culture of fun.">
    <meta data-react-helmet="true" property="og:site_name" content="Gymbox">
    <meta data-react-helmet="true" name="twitter:card" content="summary-large-image">
    <meta data-react-helmet="true" name="twitter:site" content="GymboxOfficial">
    <meta data-react-helmet="true" name="twitter:title"
        content="Gymbox - London Gyms in Bank, Holborn, Covent Garden, Farringdon, Westfield and Old Street">
    <meta data-react-helmet="true" name="twitter:description"
        content="Making sweating enjoyable drives everything Gymbox does. From our unique exercise classes and nightly resident DJs, through to our larger than life personal trainers, at Gymbox there is undeniably a culture of fun.">
    <meta data-react-helmet="true" name="twitter:image" content="https://staging.gymbox.com/static/images/share.png">
    <meta data-react-helmet="true" name="twitter:url" content="https://www.gymbox.com/">
    <meta property="fb:app_id" content="">
    <link href="{{url_for('static', filename='css/app.css')}}" rel="stylesheet">

</head>

<body>



    <div id="root">
        <div class="_14BrxaV">
            <header class="_3KR0JuQ VBD7Ow3"><a class="_1ff-7Sh" title="Go to the Gymbox homepage" href="/"></a>
                <div class="_2Tfn_VZ sDHKtsB">
                    <ul class="_1xWsKFr _2rbE6TC _2v5bHvx pRZSkbx">
                        <li class="_1GxILA2"><a class="_2Vj-OOq _2_HaYMw _1w_OEYg" href="/categories">Classes</a></li>
                        <li class="_1GxILA2"><a class="_2Vj-OOq _2_HaYMw _1w_OEYg" href="/gyms">Gyms</a></li>
                        <li class="_1GxILA2"><a class="_2Vj-OOq _2_HaYMw _1w_OEYg" href="/timetable">Timetable</a></li>
                        <li class="_1GxILA2"><a class="_2Vj-OOq _2_HaYMw _1w_OEYg" href="/join-us">Membership</a></li>
                        <li class="_1GxILA2"><a class="_2Vj-OOq _2_HaYMw _1w_OEYg" href="/member-safety">Member
                                Safety</a></li>
                        <li class="_1GxILA2"><a class="_2Vj-OOq _2_HaYMw _1w_OEYg" href="/personal-training">Personal
                                Training</a></li>
                        <li class="_1GxILA2"><a class="_2Vj-OOq _2_HaYMw _1w_OEYg" href="/about">Our Story</a></li>
                        <li class="_1GxILA2"><a class="_2Vj-OOq _2_HaYMw _1w_OEYg" href="/careers">Careers</a></li>
                        <li class="_1GxILA2"><a class="_2Vj-OOq _2_HaYMw _1w_OEYg" href="/corporate">Corporate</a></li>
                        <li class="_1GxILA2"><a class="_2Vj-OOq _2_HaYMw _1w_OEYg" href="/blog">Community</a></li>
                        <li class="_2cc0iJ3 _1GxILA2"><a class="_2Vj-OOq _2_HaYMw _1w_OEYg">Book a tour</a></li>
                        <li class="_2cc0iJ3 _1GxILA2"><a
                                href="https://gymbox.legendonlineservices.co.uk/enterprise/account/Login"
                                class="_2Vj-OOq _2_HaYMw _1w_OEYg">Login</a></li>
                    </ul>
                    <ul class="_3pZGZI5 _2rbE6TC _2v5bHvx">
                        <li class="XuAUiwa"><a href="https://www.instagram.com/gymboxofficial/"
                                class="_2BYuTc8 _2DGciQP _25LPQhk" target="_blank">Instagram</a></li>
                        <li class="XuAUiwa"><a href="https://www.youtube.com/user/OFFICIALGYMBOX"
                                class="_3rmm2J7 _2BYuTc8 _2DGciQP _25LPQhk" target="_blank">Youtube</a></li>
                        <li class="XuAUiwa"><a href="https://www.facebook.com/GymboxOfficial/"
                                class="_2BYuTc8 _2DGciQP _25LPQhk" target="_blank">Facebook</a></li>
                    </ul>
                </div>
            </header>
            <div class="_1vdzHPH">
                <div class="_2ljG6Id _2rbE6TC _2v5bHvx">
                    <div class="QLrkCRc sDHKtsB"></div>
                    <div class="_1kSe2Rz pRZSkbx"><svg class="_1LWHAKB" preserveAspectRatio="xMidYMid"
                            viewBox="0 0 320 110"><text vector-effect="non-scaling-stroke" shape-rendering="crispEdges"
                                class="_2-igzDs _31coI1f" x="0" y="90">404</text></svg>
                        <h3>You're in the wrong place</h3>
                    </div>
                </div>
            </div>
            <div class="_3reSXV1 _4zWqqYK sDHKtsB">Loading: 100%</div>
        </div>
    </div>

</body>

</html>