{% extends "base.html" %}

{% block PageCustomStyles %}
<link href="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='vendor/datatables/select.dataTables.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='vendor/datatables/buttons.dataTables.min.css')}}" rel="stylesheet">

<style>
	html,
	body {
		width: 100%;
		height: 100%;
	}

	#map {
		width: 100%;
		height: 100%;
	}
</style>

{% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

	<div class="row">

		<!-- 推薦旅遊流程 -->
		<div class="col-sm-12">
			<!-- Content Row -->
			<div class="card shadow mb-4">

				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<div>
						<h6 class="m-0 font-weight-bold text-primary">推薦旅遊流程</h6>
					</div>
					<div>

					</div>
				</div>

				<div class="card-body">

					<div class="table-responsive">

						<table class="table table-striped table-bordered table-sm" id="datatable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									{% for col in columns %}
									<th>{{ col }}</th>
									{% endfor %}
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>

		<!-- 推薦旅遊流程 -->
		<div class="col-md-12 mb-8">
			<!-- Content Row -->
			<div class="card card-cascade narrower">

				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<div>
						<h6 class="m-0 font-weight-bold text-primary">地圖</h6>
					</div>
				</div>

				<div class="card-body card-body-cascade text-center">
					<div id="map-container-google-8" class="z-depth-1-half map-container-5" style="height: 600px">
						<div id="map"></div>
					</div>
				</div>

			</div>
		</div>

	</div>

</div>
<!-- /.container-fluid -->

{% endblock %}

{% block PageCustomScripts %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcnZRtkbHg4X80RTTQSz60a2SvqmBitp8&callback=initMap" defer></script>
<script>
	console.log('mapping_paths min_mapping_path_list');
	var mapping_paths = {{mapping_paths|tojson|safe}};
	// console.log(mapping_paths);
	//因為TSP會回起點，目前前端顯示不需要，所以先做以下處理
	if (mapping_paths[0] == mapping_paths[mapping_paths.length-1]) {
		mapping_paths.pop();
	}
	console.log(mapping_paths);

	// 未經過 TSP
	console.log('id_list id_list');
	var IdList = {{id_list|tojson|safe}};
	console.log(IdList);

	console.log('loc_list min_path_list');
	var loc_list = {{loc_list|tojson|safe}};
	console.log(loc_list);

	console.log('length min_path_length');
	var min_path_length = {{length|safe}};
	console.log(min_path_length);


	var map;
	var directionsService;
	function initMap() {
		directionsService = new google.maps.DirectionsService;
		map = new google.maps.Map(document.getElementById('map'), {
			center: { lat: 23.973837, lng: 120.97969 },
			zoom: 8,
		});
	}

	function calculateAndDisplayRoute(directionsService, directionsDisplay, startPoint, endPoint, bounds) {
		directionsService.route({
			origin: startPoint,
			destination: endPoint,
			travelMode: 'DRIVING'
		}, function (response, status) {
			if (status === 'OK') {
				directionsDisplay.setDirections(response);
				bounds.union(response.routes[0].bounds);
				map.fitBounds(bounds);
			} else {
				window.alert('Impossible d afficher la route ' + status);
			}
		});
	}

</script>

<!-- Page level plugins -->
<script src="{{url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

<script src="{{url_for('static', filename='vendor/datatables/dataTables.select.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/datatables/dataTables.buttons.min.js')}}"></script>


<script>

	$(document).ready(function () {

		// https://50aabc6d-45ac-45e3-bcc4-c8c53cd2d7c0.mock.pstmn.io/api/RoutePlanning

		var columnTypes = {
			"HOUR_3": { "Rain": true, "Name": "3小時累積雨量", "Symbol": "mm" },
			"HOUR_6": { "Rain": true, "Name": "6小時累積雨量", "Symbol": "mm" },
			"HOUR_12": { "Rain": true, "Name": "12小時累積雨量", "Symbol": "mm" },
			"HOUR_24": { "Rain": true, "Name": "24小時累積雨量", "Symbol": "mm" },
			"NOW": { "Rain": true, "Name": "本日累積雨量", "Symbol": "mm" },
			"RAIN": { "Rain": true, "Name": "60分鐘累積雨量", "Symbol": "mm" },
			"MIN_10": { "Rain": true, "Name": "10分鐘累積雨量", "Symbol": "mm" },
			"ELEV": { "Rain": false, "Name": "觀測海拔", "Symbol": "m" }
		};

		var standard = {
			"ThermalIndex": {},
			"AirQuality": [
				{ "Range": [0, 35], "Value": "優", "Level": 1 },
				{ "Range": [35, 75], "Value": "良", "Level": 1 },
				{ "Range": [75, 115], "Value": "輕度汙染", "Level": 2 },
				{ "Range": [115, 150], "Value": "中度汙染", "Level": 2 },
				{ "Range": [150, 250], "Value": "重度汙染", "Level": 3 },
				{ "Range": [250, 500], "Value": "嚴重汙染", "Level": 3 }
			]
		};

		var myTable = $('#datatable').DataTable({
			dom: '<<t>i>',
			"processing": true,
			"ajax": {
				// "url": 'https://50aabc6d-45ac-45e3-bcc4-c8c53cd2d7c0.mock.pstmn.io/api/RoutePlanning',
				// "type": "POST"
				url: "{{ url_for('api.RoutePlanning') | safe}}",
				type: 'POST',
				data: { Id: mapping_paths }
			},
			order: [[0, 'asc']],
			"drawCallback": function (oSettings) {
				$('[data-toggle="popover"]').popover({
					html: true,
					trigger: 'focus',
					placement: 'auto'
				});

				var api_rows_data = this.api().rows().data();
				// console.log(api_rows_data);
				if (api_rows_data.length > 0) {
					console.log('Build Google Maps');

					var listPos = [];
					$.each(mapping_paths, function (index, Id) {
						// console.log(index);
						// console.log(Id);

						Id = mapping_paths[index];
						LLocation = { lat: loc_list[index][0], lng: loc_list[index][1] },
							listPos.push(LLocation);

						Name = 'N/A';
						var filter_Id = api_rows_data.filter(obj => {
							return obj['ScenicSpotInfo'][0].Id === Id;
						});
						if (filter_Id.length == 1) {
							Name = filter_Id[0]['ScenicSpotInfo'][0].Name;
						}


						var infowindow = new google.maps.InfoWindow({
							content: Name
						});
						var marker = new google.maps.Marker({
							position: LLocation,
							map: map,
							label: String(index + 1),
							title: String(index + 1)
						});
						marker.addListener('click', function () {
							infowindow.open(map, marker);
						});


					});
					console.log('listPos');
					console.log(listPos);

					if (listPos.length > 1) {

						var bounds = new google.maps.LatLngBounds();
						for (var i = 0; i < listPos.length; i++) {
							if (i == 0) {
								continue
							}

							var startPoint = new google.maps.LatLng(listPos[i - 1]['lat'], listPos[i - 1]['lng']);
							var endPoint = new google.maps.LatLng(listPos[i]['lat'], listPos[i]['lng']);
							var directionsDisplay = new google.maps.DirectionsRenderer({
								map: map,
								preserveViewport: true,
								suppressMarkers: true
							});
							calculateAndDisplayRoute(directionsService, directionsDisplay, startPoint, endPoint, bounds);
						}

					}
				}


			},
			"columns": [
				{
					orderable: false,
					data: null,
					render: function (data, type, row, meta) {
						// 因為後端回傳的順序並不是按照傳入的順序，所以需要給index排序
						Id = data['ScenicSpotInfo'][0]['Id'];
						order = mapping_paths.indexOf(Id)
						// console.log(order);
						// console.log(data['ScenicSpotInfo'][0]['Name']);
						return ++order;
					}
				},
				{
					data: 'ScenicSpotInfo',
					render: function (data, type, row, meta) {
						return data[0]['Name'];
					}
				},
				{
					data: 'ScenicSpotInfo',
					render: function (data, type, row, meta) {
						return '<button tabindex="0" style="width: 100%;" class="btn btn-sm btn-success" data-toggle="popover" title="' + data[0]['Name'] + '" data-content="' + data[0]['Toldescribe'] + '">瀏覽</button>';
					}
				},
				{
					data: 'ScenicSpotInfo',
					render: function (data, type, row, meta) {
						return data[0]['Add'];
					}
				},
				{
					data: 'ScenicSpotInfo',
					render: function (data, type, row, meta) {
						return data[0]['Tel'];
					}
				},
				{
					data: 'STA_AirQuality_v2',
					render: function (data, type, row, meta) {
						// console.log('STA_AirQuality_v2');
						// console.log(data);
						var updateTime = 'N/A';
						var updateLocal = 'N/A';
						var value = '<ul>';

						$.each(data, function (index, obj) {

							if (obj['Observations']) {
								value += '<li>' + obj['description'] + '：' + obj['Observations'][0]['result'] + ' ' + obj['unitOfMeasurement']['symbol'] + '</li>';
								updateTime = Date(obj['Observations'][0]['phenomenonTime']).toLocaleString();
								updateLocal = obj['ObservatoryName'].split("-").slice(-1);
							} else {
								value += '<li>' + obj['description'] + '：N/A</li>';
							}

							if ((data.length - 1) == index) {
								value += '<li>更新時間：' + updateTime + '</li>';

								value += '<li>觀測地點：' + updateLocal + '</li>';
							}
						});
						value += '</ul>';

						//return data[0]['description'];
						return '<button tabindex="0" style="width: 100%;" class="btn btn-sm btn-outline-primary" data-toggle="popover" title="空氣資訊" data-content="' + value + '">Show</button>';
					}
				},
				{
					data: 'STA_Rain',
					render: function (data, type, row, meta) {
						// console.log('STA_Rain');
						// console.log(data);
						var updateTime = 'N/A';
						var updateLocal = 'N/A';
						var status = true;
						var value = '<ul>';
						$.each(data, function (index, obj) {
							Type = obj['description'].split("-").slice(-1);
							if (obj['Observations']) {
								if (Type in columnTypes) {
									result = obj['Observations'][0]['result'];
									if (result <= 0) {
										result = 0;
									} else {
										result = obj['Observations'][0]['result'];
										if (columnTypes[Type]['Rain']) {
											status = false;
										}
									}
									value += '<li>' + columnTypes[Type]['Name'] + '：' + (obj['Observations'][0]['result'] < 0 ? 0 : obj['Observations'][0]['result']) + ' ' + columnTypes[Type]['Symbol'] + '</li>';
									updateTime = Date(obj['Observations'][0]['phenomenonTime']).toLocaleString();
									updateLocal = obj['ObservatoryName'].split("-").slice(-1);
								} else {
									value += '<li>' + Type + '：' + (obj['Observations'][0]['result'] < 0 ? 0 : obj['Observations'][0]['result']) + '</li>';
								}

							} else {
								value += '<li>' + columnTypes[Type]['Name'] + '：N/A</li>';
							}

							if ((data.length - 1) == index) {
								value += '<li>更新時間：' + updateTime + '</li>';
								value += '<li>觀測地點：' + updateLocal + '</li>';
							}

						});
						value += '</ul>';

						if (status) {
							return '<button tabindex="0" style="width: 100%;" class="btn btn-sm btn-outline-success" data-toggle="popover" title="下雨資訊" data-content="' + value + '">良好</button>';
						} else {
							return '<button tabindex="0" style="width: 100%;" class="btn btn-sm btn-outline-danger" data-toggle="popover" title="下雨資訊" data-content="' + value + '">注意</button>';
						}

					}
				}
			]
		});

	});

</script>


{% endblock %}